<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("_Head")
<body class="bg-gray-50 text-gray-800 font-sans antialiased">

    <div class="flex h-screen overflow-hidden">
        @await Html.PartialAsync("_Sidebar")

        test
    </div>
</body>
</html>